html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 103px 26px 82px;
  background: #2E948A;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.header > .nav {
  display: flex;
  list-style: none;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px; 
}

.header > .nav > li {
  padding: 0px 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  text-transform: uppercase;

  color: #FDFDFD;
}

a:link {
  text-decoration: none;
  color: #FDFDFD;
}

  

footer{
    display: flex;
    align-items: center;
    align-content: space-between;
    padding: 20px 103px 26px 82px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  }
  
  .listarodape > ul > li{
  
    padding: 0px 10px;
  
    font-style: normal;
    text-decoration: none;
    list-style: none;
    color: #FDFDFD;
    font-size: 20px;
  }
  #profbutton{
      background-color:#2E948A;
      border-radius: 50px;
      color: white;
      width: 108px;
      height: 32px;
      border-color: white;
      margin-left: 50px;
      width: 289px;
      height: 51px;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
  }
  #otherbutton{
      background-color:#2E948A;
      border-radius: 50px;
      color: white;
      width: 108px;
      height: 32px;
      border-color: white;
      margin-left: 50px;
      width: 289px;
      height: 51px;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
  }
  .footer{
    justify-content: space-between;
  }
  .primeirobloco{
    display:flex;
    justify-content: space-evenly;
     padding: 0px 300px; 
     margin-left: 40px;
    margin-right: 60px; 
  }
   @media only screen and (max-width: 1220px){
    .primeirobloco {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  } 

  h1{
    font-size: 60px;
    line-height: 69px;
    /* padding-left: 120px;
    padding-top: 80px; */
    color: #FF4081;
  }
  .inicio{
    width: 400px;
  }
  .inicial{
    /* padding-left: 120px;
    padding-top: 0px; */
    font-weight: 400;
    font-size: 27px;
    color: #555555;
  }
  #infobutton{
    /* margin-left: 120px; */
    border-radius: 20px;
    padding: 5px 10px 10px 10px;
    border:#FF4081;
    border: solid 1px;
    background-color: white;
    color: #FF4081;
    cursor: pointer;
    font-size: 27px;
    
    
    
  }
  .imginicio{
    padding-left: 120px;
    padding-top: 80px;
    
  }
  .segundobloco{
    display: flex;
    /* margin-left: 40px;
    margin-right: 60px; */
    margin-top: 120px;
    justify-content: space-evenly;


  }

  @media only screen and (max-width: 1050px){
    .segundobloco {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

    }
  }
  .minititulo{
    color: #FF4081;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
  }
.paragrafo{ 
font-weight: 400;
text-align: center;
font-size: 17px;
}
#button-second{
    background-color: #FF4081;
    border-radius: 50px;
    color: white;
    width: 108px;
    height: 32px;
    border: #FF4081;
    /* margin-left: 50px;
    padding-left: 10%;
    padding-right: 42%;
    padding-top: 4%;
    padding-bottom: 9%; */
    align-content: center;
    cursor: pointer;

}

h2{
    font-weight: 700;
    font-size: 37px;
    color:#009688 ;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;

}
.intemediario{
    margin-left: 40px;
    margin-right: 60px;
    display: flex;
}
.img4{
    display: flex;
}
.penultimobloco{
    display: flex;
    justify-content: space-around;
}
.terceirobloco{
    margin-left: 40px;
    margin-right: 60px;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;

}
.quartobloco{
    margin-left: 40px;
    margin-right: 60px;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
.lastblock{
    display: flex;
    margin-left: 40px;
    margin-right: 60px;
    justify-content:space-between;
}
@media only screen and (max-width: 1100px) {
  .lastblock {
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
  .intemediario {
    text-align: center;
    justify-content: center;
  }
  #infobutton1{
    justify-content: center;
    text-align: center;
  }

}
.ultsubtitulo{
    color: #009688;
    font-weight: 700;
    font-size: 27px;
}
.ultextinho{
    font-weight: 300;
    font-size: 18px;
    color: #000000 ;
}
#infobutton1{
    /* margin-left: 120px; */
    border-radius: 20px;
    padding: 5px 10px 10px 10px;
    border:#FF4081;
    border: solid 2px;
    background-color: white;
    color: #FF4081;
    cursor: pointer;
    font-size: 27px;
    
}
.ultimobotao{
    align-items: center;
    justify-content: center;
    justify-content: center;
    display: flex;
}